.section-counter{
    height: 50vh;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.counter-box {
    color: #fff;
    text-align: center;
    /* background-color: var(--main-color); */
}

@media (min-width: 577px) {
    .counter-box {
        margin-bottom: 1.8rem;
    }
}
@media (max-width: 576px) {
    .section-counter{
        height: 70vh;
    }
}

.counter-ico {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.counter-ico .ico-circle {
    height: 100px;
    width: 100px;
    box-shadow: 0 0 0 10px #cde1f8;
    background-color: var(--main-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-ico .ico-circle img{
    height: 60px;
    width: 60px;
}

.counter-num .counter {
    font-size: 2rem;
    margin-bottom: 0;
}