.skill-mf h3 {
    color: var(--secondary-white);
}

.skill-mf span {
    color: #4e4e4e;
}

.skill-mf .progress {
    background-color: var(--secondary-black);
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
}

.skill-mf .progress .progress-bar {
    height: 0.7rem;
    background-color: var(--main-color);
}
.skill{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
}
.skills {
    padding: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 2px solid var(--main-color);
    transition: 0.8s;
    border-radius: 50%;
}

.skills:hover {
    background-color: var(--main-color);
    scale: 1.1;
}

.skills img {
    height: 50px;
    width: 60px;
}

.lastSkill img {
    height: 80px;
    width: 100px;
}