.contact-mf {
    margin-top: 4rem;
}

@media (min-width: 767px) {
    .contact-mf .box-pl2 {
        margin-top: 3rem;
        padding-left: 0rem;
    }
}

.footer-paralax {
    margin-top: 50px;
    padding: 4rem 0 0 0;
    background-color: var(--main-color);
}