.black-bg{
    background-color: var(--main-black);
}
.header {
    width: 100%;
    position: fixed;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transition: 0.5s;
}

.header .navbar {
    display: flex;
    height: 100%;
    width: 100%;
}

.openList-button {
    display: none;
    flex-direction: column;
    border: 1px solid var(--main-color);
}

.openList-button span {
    background-color: var(--main-color);
    width: 22px;
    height: 2.4px;
    margin: 2.5px 7px;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .header .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height:calc(100vh - 80px);
        background-color: var(--secondary-black);
        z-index: 1;
    }

    .header .navbar .active {
        display: flex;
    }

    .header .navbar .notActive{
        display: none;
    }
    .header .navbar ul li {
        margin-left: -10px;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .openList-button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 35px;
        width: 35px;
    }
    .openList-button .none{
        display: none;
    }
    .openList-button .close{
        display: none;
    }
    .openList-button .open{
        display: block;
        color: var(--main-color);
        font-weight: 300;
        scale: 1.5;
        /* margin-bottom: 13px; */
    }
}