.back-to-top-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: var(--main-color);
    color: white;
    border: none;
    box-shadow: 0 0 0 5px var(--secondary-white);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
    transition: 0.5s;
}
.back-to-top-button:hover{
    background-color: var(--main-black);
    box-shadow: 0 0 0 5px var(--secondary-white);
}
.back-to-top-button svg {
    scale: 1.5;
}

.back-to-top-button.visible {
    opacity: 1;
}